<mat-card class="endereco-card">
    <mat-card-title>Criar Endereço</mat-card-title>
    <form class="centered-form" #enderecoForm="ngForm">
        <mat-form-field class="full-width-field">
            <input matInput placeholder="Rua" [(ngModel)]="endereco.endRua" name="endRua" required>
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <input matInput type="number" placeholder="Número (opcional)" [(ngModel)]="endereco.endNumero" name="endNumero">
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <input matInput placeholder="Cidade" [(ngModel)]="endereco.endCidade" name="endCidade" required>
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <input matInput placeholder="Estado (UF)" [(ngModel)]="endereco.endEstado" name="endEstado" maxlength="2">
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <input matInput placeholder="CEP" [(ngModel)]="endereco.endCep" name="endCep">
        </mat-form-field>
    </form>

    <div class="button-container">
        <button mat-raised-button (click)="createEndereco()" [disabled]="!enderecoForm.valid" class="salvar-btn">
            Criar
        </button>
        <button mat-raised-button (click)="cancel()" class="cancelar-btn">
            Cancelar
        </button>
    </div>
</mat-card>