<mat-toolbar class="header" met-elevation-z4>
    <button mat-icon-button (click)="toggleSidenav()" class="menu-btn">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title-group">
        <a>
            <i class="material-icons">
                local_library
            </i>
            Biblioteca
        </a>
    </span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleTheme()" class="theme-btn" matTooltip="{{isWarm ? 'Tela Fria' : 'Tela Quente'}}">
        <mat-icon>{{isWarm ? 'ac_unit' : 'wb_sunny'}}</mat-icon>
    </button>
</mat-toolbar>