<mat-card class="livro-card">
  <mat-card-title>Novo Livro</mat-card-title>

  <form class="centered-form">
    <mat-form-field class="full-width-field">
      <input matInput placeholder="Nome do livro" [(ngModel)]="livro.liNome" name="liNome">
    </mat-form-field>

    <mat-form-field class="full-width-field">
      <input matInput placeholder="Descrição do livro" [(ngModel)]="livro.liDescricao" name="liDescricao">
    </mat-form-field>

    <mat-form-field class="full-width-field">
      <input matInput placeholder="Avaliação" [(ngModel)]="livro.liAvaliacao" name="liAvaliacao">
    </mat-form-field>

    <mat-form-field class="full-width-field">
      <input matInput placeholder="Número de páginas" [(ngModel)]="livro.liNumeropagi" name="liNumeropagi">
    </mat-form-field>
    <mat-form-field class="full-width-field">
      <input matInput placeholder="Nome fantasia do fornecedor" [(ngModel)]="livro.forNomeFantasia" name="forNomeFantasia">
    </mat-form-field>
    <mat-form-field class="full-width-field">
      <input matInput placeholder="Cnpj do fornecedor" [(ngModel)]="livro.forCnpj" name="forCnpj">
    </mat-form-field>
    <mat-form-field class="full-width-field">
      <input matInput placeholder="razão social do fornecedor" [(ngModel)]="livro.forRazaoSocial" name="forRazaoSocial">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button class="salvar-btn" (click)="createLivro()">
        Salvar
      </button>

      <button mat-raised-button class="cancelar-btn" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>