<mat-card class="contato-card">
    <mat-card-title>Criar Contato</mat-card-title>
    <form class="centered-form" #contatoForm="ngForm">
        <mat-form-field class="full-width-field">
            <input matInput placeholder="Celular" [(ngModel)]="contato.conCelular" name="conCelular" required maxlength="15">
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <input matInput placeholder="Telefone Comercial (opcional)" [(ngModel)]="contato.conTelefoneComercial" name="conTelefoneComercial" maxlength="15">
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <input matInput type="email" placeholder="Email" [(ngModel)]="contato.conEmail" name="conEmail" required maxlength="55">
        </mat-form-field>
    </form>

    <div class="button-container">
        <button mat-raised-button (click)="createContato()" [disabled]="!contatoForm.valid" class="salvar-btn">
            Criar
        </button>
        <button mat-raised-button (click)="cancel()" class="cancelar-btn">
            Cancelar
        </button>
    </div>
</mat-card>